:root{
    --Fondo1: #9C27B0;
    --Fondo2: #89119D;
    --Fondo3: #FFCE00;
    --color1: rgb(233,287,2);
    --blanco: #fff;
    --negro:  #000;
    --fuente: 'Roboto'
}


html{
    box-sizing: border-box;
    font-size: 62.5%;    
}

*, *:before, *:after {
    box-sizing: inherit;
  }

/**Globales**/

  body{
    background-color: var(--Fondo1);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--Fondo3);
    font-family: var(--fuente);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}


/**Header**/

.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem, 0;

}

/**footer**/

.footer__texto{
    text-align: center;
    background-color: var(--Fondo2);
    padding: 1rem 0;
    margin-top: 2rem;
    font-family: var(--fuente);
    font-size: 2rem;
}

/**Navegacion**/

.navegacion{
   background-color: var(--Fondo2);
   font-weight: 700;
   font-size: 2rem;
   padding: 1rem 0;
   display: flex;
   justify-content: center;
   gap: 5rem;
}

.navegacion__enlace{
    font-family: var(--fuente);
    color: var(--blanco);
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--Fondo3);
}

/** Grid **/

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

@media (min-width:  768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr); 
    }
}

/** Productos **/

.producto{
    background-color: var(--Fondo2);
    padding: 1rem;
}

.producto__nombre{
    font-size: 4rem;
}

.producto__precio{
    font-size: 2.8rem;
    color: var(--Fondo3);
}

.producto__nombre,
.producto__precio{
    font-family: var(--fuente);
    margin: 1 0;
    text-align: center;
    line-height: .5;
}

/** Graficos **/

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover ;
}

.grafico--camisas{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url(../img/grafico1.jpg);
}

.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-column: 1 / 3 ;
    grid-row: 8 / 9;
}

@media (min-width: 768px ) {
    .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }    
}

/** Grid Nosotros **/

.grid--nosotros{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
}

@media (min-width:  800px) {
    .grid--nosotros{
        grid-template-columns: repeat(2, 1fr);
    }
}

/** Nosotros **/
.nosotros{
    min-height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    grid-row: 2 / 3;
    grid-column: 1 / 4
}

@media (min-width: 800px) {
    .nosotros{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
}


.nosotros--parrafo{
    font-family: var(--fuente);
    margin: 0 auto;
    font-size: 1.4rem;
    grid-row: 2 / 3;
    grid-column: 1 / 4;

}

@media (min-width:  800px) {
    .nosotros--parrafo{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
}

/** Gradicos nosotros **/

.grafico__nosotros{
    background-image: url(../img/nosotros.jpg);
    width: 100%;
    min-height: 30rem;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

@media (min-width:  800px) {
    .grafico__nosotros{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}

/** Bloques nosotros **/


.bloques{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media (min-width: 700px) {
    .bloques{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .bloques{
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque{
    text-align: center;
}

.bloque p{
    font-size: 1rem;
}

.bloque__titulo{
    margin: 0;
}


/** Pagina Producto **/

@media (min-width: 768px) {
    .camisa{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }    
}

.formulario {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Ajuste para antes de los 561px */
    gap: 2rem;
}

/* Media Query para pantallas menores a 561px */
@media (max-width: 560px) {
    .formulario__campo {
        grid-column: 1/1; /* Ocupa toda la fila */
    }
    .formulario__submit {
        grid-column: 1/1; /* Ocupa toda la fila */
    }
}

/* Media Query para pantallas mayores a 560px */
@media (min-width: 561px) {
    .formulario {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas después de los 560px */
    }
    .formulario__submit {
        grid-column: 1/3; /* Ocupa ambas columnas */
    }
}

.formulario__campo {
    border-color: var(--Fondo2);
    border-width: 1rem;
    border-style: solid;
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}

.formulario__submit {
    background-color: var(--Fondo3);
    border: none;
    font-size: 2rem;
    font-family: var(--fuente);
    padding: 2rem;
    transition: background-color .3s ease;
}

.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--color1);
}
